@import url(_reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(to bottom, #452d4c
, #bb9ac5);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 0 2rem;
}

@media screen and (min-width: 1400px) {
    .container {
        padding: 0 calc((100vw - 1200px) / 2);
    }
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #2f2134;
}


.encabezado__logo {
    width: 70px;
}

.encabezado__titulo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
}



.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

.chat {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 10rem - 5rem);

    scrollbar-width: none;
    overflow-y: scroll;
}

.chat::-webkit-scrollbar {
    display: none;
}

.chat__burbuja {
    max-width: calc(100% - 3.5rem);
    width: fit-content;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 1.375rem;
    margin: 1.5rem 0;
    position: relative;
}

@media screen and (min-width: 1400px){
    .chat__burbuja {
        max-width: 60%;
    }
}

.chat__burbuja--bot {
    background-color: #5e4167;
}

.chat__burbuja--bot::after {
    content: "";
    display: block;

    height: 2.5rem;
    width: 2.5rem;

    position: absolute;
    top: 0;
    right: calc(-2.5rem - 1rem);

    background-image: url(../img/icono-chatbot.png);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

.chat__burbuja--usuario {
    border: 1px solid #9b7ba5;
    align-self: flex-end;
}

.chat__burbuja--usuario::before {
    content: "";
    display: block;
    height: 2.5rem;
    width: 2.5rem;

    position: absolute;
    top: 0;
    left: calc(-2.5rem - 1rem);

    background-image: url(../img/icono-perfil.png);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    
}

.entrada {
    height: 10rem;
    position: relative;
    display: flex;
    gap: 1.5rem;
    justify-content: stretch;
    align-items: center;
    border-top: 1px solid #2f2134;
}

.entrada__container {
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
    width: 100%;

    padding: 0 0.5rem;

    background-color: #2f2134;
    border: 1px solid #452d4c;
    border-radius: 4rem;
}

.entrada__input {
    height: 4rem;
    width: 100%;

    background-color: transparent;
    font-size: 1.375rem;
    color: #FFFFFF;
    padding-left: 20px;
}

.entrada__input::placeholder {
    color: #FFFFFF;
}

.entrada__enviar-audio {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 4rem;

    background-color: #ec7353;
    border: 1px solid #452d4c;
    border-radius: 50%;
}

.entrada__feedback {
    position: absolute;
    bottom: 23px;
    right: calc(2rem + 5.5rem);
}

@media screen and (min-width: 1400px) {
    .entrada__feedback {
        right: calc((100vw - 1200px) / 2 + 5.5rem);
    }
}

.icono {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-position: center;
    background-repeat: no-repeat;
}

.icono--enviar-audio {
    background-image: url(../img/icono-audio.png);
    background-size: 2.5rem;
}

.icono--mas-opciones {
    background-image: url(../img/icono-mas.png);
    background-size: 2.5rem;
}

.icono--enviar-mensaje {
    background-image: url(../img/icono-enviar.png);
    background-size: 2.5rem;
}